*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Samarkan";
    src: url(SAMARN__.TTF);
}

/* styling header div */
#header-div{
    text-align: center;
}
#header-div > h1{
    font-family: Samarkan;
    font-size: 2.5em;
}
#header-div-p{
    font-weight: bold;
    font-style: italic;
    font-family: 'Arial';
}

/* styling section div */
#section-div{
    text-align: center;
}

/* styling section div input */
#section-div-input{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-color: brown;
}
#section-div-input:focus{
    outline-color: yellow;
    color: brown;
}
#section-div-input::placeholder{
    color: gray;
}

/* styling data cards */
.data-card{
    background-color: rgb(248, 148, 148);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    padding: 0.5%;
    border: 2px solid yellow;
    margin-bottom: 0.5%;
}
.data-card > p{
    font-style: italic;
    padding: 0.5%;
}
.data-card > ul{
    list-style-type: none;
    margin-top: 0.5%;
}
.data-card > ul > li{
    display: inline;
    padding: 5px;
}
.data-card > ul > li > a{
    color: blue;
    text-decoration: none;
}

#found-data{
    padding-bottom: 50px;
}
/* styling footer */
footer{
    color: white;
    background-color: brown;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    text-align: center;
}