* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Samarkan";
  src: url(SAMARN__.TTF); }
body, input {
  font-family: 'Source Sans Pro', sans-serif; }

#toggle-div {
  right: 0;
  position: absolute;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  background-color: #ccc;
  color: black; }

#githubHeaderTag {
  position: absolute;
  padding: 10px;
  margin: 20px; }

#toggle-day {
  display: none; }

#header-div {
  text-align: center;
  padding: 20px; }

#header-div > a > img {
  height: 150px;
  width: 150px; }

#header-div-a:link,
#header-div-a:active,
#header-div-a:visited {
  text-decoration: none;
  color: black;
  font-family: Samarkan;
  font-size: 1.25em; }

#header-div-version {
  height: 20px; }

#header-div-p {
  font-weight: bold;
  font-style: italic; }

/**************/
/* SEARCH BAR */
/**************/
/******************/
/* SEARCH ACTIONS */
/******************/
#search-actions {
  display: none;
  padding-left: 5%;
  padding-right: 5%; }

#horizontal-rule {
  border: 1px solid gray;
  width: 95%;
  margin: auto; }

.actionButtons {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  padding: 10px; }

.actionButtons > a {
  text-decoration: none;
  color: black; }

.displayActions {
  padding: 10px;
  font-size: 18px; }

.buttonRight {
  float: right; }

/******************/
/* OLDER SEARCHES */
/******************/
#recent-searches {
  padding: 15px;
  padding-left: 5%;
  padding-right: 5%; }

.recentHeader {
  padding: 10px; }

#search-results-list {
  border: 1px solid yellow;
  background-color: #f89494;
  border-radius: 5px;
  text-align: left;
  list-style-type: none;
  color: black;
  margin-top: 10px; }

#search-results-list > li {
  padding: 12px;
  border-radius: 5px; }

.history-checkbox {
  margin-right: 20px; }

.clearHistoryButton {
  cursor: pointer;
  padding: 5px;
  float: right;
  font-size: 17px; }

/******************/
/* SEARCH CONTENT */
/******************/
#section-div {
  text-align: center; }

#search-bar {
  border: 2px solid brown;
  border-radius: 23px;
  margin: auto;
  width: 90%; }

#search-bar:hover {
  box-shadow: 0px 0px 10px #888888; }

#find-icon {
  color: brown;
  font-size: 20px; }

#section-div-input {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  border: none;
  width: 90%;
  outline: none;
  border-radius: 20px; }

#section-div-input:focus {
  color: brown; }

#section-div-input::placeholder {
  color: gray; }

.searchLabel {
  font-size: 20px; }

#found-data {
  padding-bottom: 50px;
  min-height: 50vh;
  padding: 10px; }

/* styling data cards */
.data-card {
  background-color: #f89494;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid yellow;
  margin-bottom: 2%; }

.data-card > p {
  padding: 0.5%; }

#basicList {
  list-style-type: none;
  margin-top: 0.5%; }

#basicList > li {
  display: inline;
  padding: 5px; }

#advList {
  list-style-type: square;
  margin-top: 0.5%;
  margin-left: 50px; }

.link {
  color: blue;
  text-decoration: none; }

.badge-class,
.more-div {
  background-color: #e67777;
  text-align: center;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  border: none; }

.badge-img {
  margin-left: 5px;
  margin-right: 5px; }

.more-div,
.less-div {
  color: white;
  font-weight: bold;
  cursor: pointer; }

.less-div {
  padding: 5px; }

/*****************************/
/* RECENTLY COMPARED SECTION */
/*****************************/
#recentlyComparedSection {
  padding: 15px;
  padding-left: 5%;
  padding-right: 5%; }

#recentlyComparedList {
  border: 1px solid yellow;
  background-color: #f89494;
  border-radius: 5px;
  text-align: left;
  list-style-type: none;
  color: black;
  margin-top: 10px; }

.recentlyComparedItem {
  padding: 12px;
  border-radius: 5px; }

.recentlyComparedCheckBox {
  margin-right: 20px; }

.recentlyComparedLink:link,
.recentlyComparedLink:visited,
.recentlyComparedLink:active {
  color: blue; }

/* styling footer */
footer {
  color: white;
  background-color: brown;
  font-weight: bold;
  padding: 10px;
  text-align: center; }

footer > p > a {
  color: white;
  text-decoration: none; }

.footer-links-div {
  display: inline-block;
  padding: 14px; }

.footer-links-list {
  list-style-type: none;
  padding: 5px; }

.footer-links-list > li {
  padding: 1px; }

.footer-links-list > li > a {
  color: white;
  text-decoration: none; }

.footer-links-div:nth-child(1) {
  margin-right: 1%; }

.footer-links-div:nth-child(2) {
  margin-left: 1%; }

/* RESPONSIVENESS */
/**/
@media (min-width: 601px) and (max-width: 991px) {
  .footer-links-div {
    padding: 30px; }

  .footer-links-div:nth-child(1) {
    margin-right: 6%; }

  .footer-links-div:nth-child(2) {
    margin-left: 6%; } }
/* TABLETS/DESKTOPS */
@media (min-width: 992px) and (max-width: 1199px) {
  #search-bar {
    width: 60%; }

  #section-div-input {
    width: 85%; }

  #horizontal-rule {
    width: 70%; }

  .data-card {
    margin-left: 14%;
    margin-right: 14%; }

  .footer-links-div {
    padding: 30px; }

  .footer-links-div:nth-child(1) {
    margin-right: 8%; }

  .footer-links-div:nth-child(2) {
    margin-left: 8%; } }
/* large */
@media screen and (min-width: 1200px) {
  #search-bar {
    width: 40%; }

  #section-div-input {
    width: 88%; }

  #horizontal-rule {
    width: 70%; }

  .data-card {
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 1%; }

  .footer-links-div {
    padding: 40px; }

  .footer-links-list {
    padding: 10px; }

  .footer-links-list > li {
    padding: 3px; }

  .footer-links-div:nth-child(1) {
    margin-right: 9%; }

  .footer-links-div:nth-child(2) {
    margin-left: 9%; }

  .footer-links-list > li > a:hover,
  #footer-techous:hover {
    color: cyan; } }
@media print {
  header,
  footer,
  #section-div,
  #search-results,
  #recent-searches,
  #horizontal-rule,
  .more-div,
  .less-div {
    display: none; } }

/*# sourceMappingURL=style.css.map */
