/* styling footer */
footer{
    color: white;
    background-color: brown;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
footer > p > a{
    color: white;
    text-decoration: none;
}