.compareTable{
    border: 1px solid brown;
    overflow: scroll;
    border-spacing: 0;
}

.compareTableRow{
    border: 1px solid brown;
}

.compareTableData{
    border: 1px solid brown;
    padding: 10px;
}

#root{
    overflow: scroll;
    margin: 15px;
}